.wordle-container {
  text-align: center;
}

.wordle-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.wordle-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.wordle-box {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 0, 102, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.correct {
  background-color: green;
}

.present {
  background-color: yellow;
}

.absent {
  background-color: gray;
}

.wordle-keyboard {
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border-radius: 10px;
}

.key-button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease;
}

.key-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
