body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bubblegum Sans", "Comic Sans MS", cursive;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media.istockphoto.com/id/1477417830/vector/game-joystick-on-pink-background-with-stars-vector-seamless-pattern-in-kawaii-style-for.jpg?s=612x612&w=0&k=20&c=XW5vbE4Pq9j4DUmP29gSKtaTgkoZ1ln9mCGRj2Y7gJc=");
  opacity: 0.70;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
  color: #333;
}
